/*Menu icon*/
.retor_bonus_menu_icon {
    background-image:url(icons/retor.bonus/mnu_retor_bonus.gif);
    background-position: center;
}
.retor_bonus_page_icon {
    background-image:url(icons/retor.bonus/title.gif);
}